        body {
            background-color: hsl(212, 45%, 89%);
            width: 1440px;
        }

        .scanner {
            position: absolute;
            width: 320px;
            height: 497px;
            left: 560px;
            top: 152px;
            border-radius: 20px;
            background-color: white;
            box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
            overflow: hidden;

        }

        .img img {
            position: absolute;
            max-width: 100%;
            width: 288px;
            height: 288px;

            top: 168px;
            left: 576px;

            background: #2C7DFA;
            border-radius: 10px;
        }

        .text h1 {
            position: absolute;
            height: 56px;
            width: 288px;
            left: 576px;
            text-align: center;
            top: 480px;

            font-family: 'Outfit';
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            text-align: center;

            color: #1F314F;
        }

        p {
            position: absolute;
            height: 57px;
            width: 256px;
            left: 592px;
            right: 592px;
            top: 552px;


            /* Body */

            font-family: 'Outfit';
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.1875px;

            /* Grey */

            color: #7D889E;
        }